div.timeline(*ngIf="result.length > 0")
  table
    tr
      th Time
      td(*ngFor="let time of timeLabel")
        span &bull; {{time}}
    tr
      th Events
      td.timeline-events(*ngFor="let set of events")
        div(*ngFor="let literal of set")
          span {{literal}}
    tr
      th Actions
      td.timeline-actions(*ngFor="let set of actions")
        div(*ngFor="let literal of set")
          span {{literal}}
    tr
      th Fluents
      td.timeline-fluents(*ngFor="let set of fluents")
        div(*ngFor="let literal of set")
          span {{literal}}
