doctype html
html
  head
    title lps.js - LPS JavaScript Interpreter Demo
    base(href="/")
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
  body
    noscript
      p Your browser doesn't seem to support JavaScript. We can't run the demo on browsers that do not support JavaScript.
      p: small Please consider use a browser that supports JavaScript to get the best experience on our website.
    app Loading...
