@import url('https://fonts.googleapis.com/css?family=PT+Sans|Ropa+Sans');

body {
  font-family: 'PT Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ropa Sans', sans-serif;
}

.col-top-spacer {
  padding-top: 20px;
}

.clickable {
  cursor: pointer;
}

a {
  color: #00A8C6;
}
