.timeline {
  overflow: auto;

  table {
    @extend .table;
    @extend .table-striped;

    margin-bottom: 0;

    width: auto;
    max-width: none;

    th {
      font-weight: bold;
      border-right: 1px solid #ccc;
    }

    td > div {
      width: 200px;
    }

    td.timeline-events, td.timeline-actions {
      div {
        position: relative;
        left: -108px;
        height: 24px;
        width: 200px;
        overflow: hidden;

        span {
          white-space: nowrap;
        }
      }
    }

    .timeline-fluent-box {
      background: #fff2a0;
      border: 1px solid #fff;
      height: 24px;
      padding: 2px 5px;

      &:hover {
        background: #ffed7f;
      }
    }
  }
}
