page-toolbar(active="about")

.container-fluid
  .row
    .col-md-4
      h1 About LPS

      p
        | LPS is a production system language for building reactive agents based on logic.
        | It combines both production rules and logic programming into a single framework,&nbsp;
        | where forward reasoning is used on production rule processing and SLD resolution in
        | logic programming uses backward reasoning.

      p LPS was the result through decades of research by Robert Kowalski and Fariba Sadri at&nbsp;
        | <a href="http://lps.doc.ic.ac.uk/">Imperial College London</a>.

      h2 About lps.js

      p
        | lps.js is a LPS interpreter implemented in JavaScript as
        | part of Sam Yong's submission in partial fulfillment of his MSc degree in Computer
        | Science of Imperial College London, supervised by Dr. Fariba Sadri.

      p
        | This demonstration website can execute LPS programs and show the timeline progression
        | on the working memory and actions taken by the program. In the current implementation,&nbsp;
        | the program is sent to the backend for execution under the Node.js environment.

page-footer
