page-toolbar(active="home")

.container-fluid
  .row
    .col-md-2
      h1 Hello there!
      p Welcome to LPS JavaScript Implementation Demo. Enter the LPS source code on the right and press "Run" to run the LPS program.
      p: small The LPS program execution currently happens on the server-side. Browser-side execution is possible, but will only be demonstrated once the project becomes open source.

      h4 Example Programs
      p Below are some preloaded LPS programs that you can load and get started.

      div.col-top-spacer(*ngFor="let example of preloadedPrograms; let i = index")
        button.btn.btn-default.btn-block((click)="loadProgram(i)") {{example}}

    .col-md-10.col-top-spacer
      .form-group(*ngIf="error")
        p.lead Error
        pre([innerHTML]="error | ansi")
      .form-group
        p(*ngIf="loading") Loading...
        button.btn.btn-default((click)="execute()", *ngIf="!loading") Run
      .form-group
        textarea.textarea-code.form-control([(ngModel)]="source", rows=20, ng-disabled="loading")

      lps-timeline([result]="timeline")
      span(*ngIf="runTime"): small Executed on server in {{runTime}}

page-footer
